examples/Authenticating sip devices.json
[{"id":"200cac384933c69a","type":"user auth","z":"394e01b6582aeade","name":"1234","password":"1234","passwordType":"str","ha1":"","ha1Type":"str","x":570,"y":620,"wires":[["abe303aeefdf9b11"]]},{"id":"9a7c917fceaf1dd2","type":"webhook in","z":"394e01b6582aeade","name":"","url":"/reg","method":"post","x":160,"y":660,"wires":[["f55eb9548f7656fc"]]},{"id":"abe303aeefdf9b11","type":"webhook out","z":"394e01b6582aeade","name":"","x":830,"y":660,"wires":[]},{"id":"f55eb9548f7656fc","type":"switch","z":"394e01b6582aeade","name":"Check User","property":"authRequest.username","propertyType":"msg","rules":[{"t":"eq","v":"1234","vt":"str"},{"t":"eq","v":"5678","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":660,"wires":[["200cac384933c69a"],["53984e5fd752ae48"],["4c41efc9fd0209d8"]]},{"id":"53984e5fd752ae48","type":"user auth","z":"394e01b6582aeade","name":"5678","password":"5678","passwordType":"str","ha1":"","ha1Type":"str","x":570,"y":660,"wires":[["abe303aeefdf9b11"]]},{"id":"4c41efc9fd0209d8","type":"user auth","z":"394e01b6582aeade","name":"Fail","password":"","passwordType":"str","ha1":"","ha1Type":"str","x":570,"y":700,"wires":[["abe303aeefdf9b11"]]}]