examples/Conference with LCC.json
[{"id":"833497f2fae0aaf3","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"6f1659c227ac5c0a","type":"webhook in","z":"833497f2fae0aaf3","name":"","url":"/answer","method":"post","x":170,"y":180,"wires":[["390a7f26d4eb4ca1","c02c09f176472250"]]},{"id":"63867d4d1232a7e8","type":"conference","z":"833497f2fae0aaf3","name":"","conference":"testconf","conferenceType":"str","beep":true,"endConferenceOnExit":false,"startConferenceOnEnter":true,"maxParticipants":"","maxParticipantsType":"num","enterHook":"/conf","enterHookType":"str","waitHook":"","waitHookType":"str","joinMuted":false,"x":530,"y":180,"wires":[["f246dbdf8065d691"]]},{"id":"043698be94846ac6","type":"lcc","z":"833497f2fae0aaf3","name":"","server":"1560464fc4351e6a","callSid":"callsid","callSidType":"flow","action":"hold_conf","text":"","vendor":"default","lang":"default","voice":"default","callHook":"","callHookType":"str","waitHook":"/wait","waitHookType":"str","x":480,"y":420,"wires":[["87c53f537d99b411"]]},{"id":"12afe13d8f2663e8","type":"inject","z":"833497f2fae0aaf3","name":"Hold Last Caller","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":420,"wires":[["043698be94846ac6"]]},{"id":"f246dbdf8065d691","type":"webhook out","z":"833497f2fae0aaf3","name":"","x":790,"y":180,"wires":[]},{"id":"390a7f26d4eb4ca1","type":"change","z":"833497f2fae0aaf3","name":"","rules":[{"t":"set","p":"callsid","pt":"flow","to":"call.call_sid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[[]]},{"id":"c02c09f176472250","type":"say","z":"833497f2fae0aaf3","name":"","text":"Connecting to conference","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":350,"y":180,"wires":[["63867d4d1232a7e8"]]},{"id":"224665842776d022","type":"webhook in","z":"833497f2fae0aaf3","name":"","url":"/conf","method":"post","x":190,"y":280,"wires":[["3ee468cea7342993"]]},{"id":"951900596281cbd6","type":"webhook out","z":"833497f2fae0aaf3","name":"","x":770,"y":280,"wires":[]},{"id":"3ee468cea7342993","type":"say","z":"833497f2fae0aaf3","name":"","text":"welcome","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":390,"y":280,"wires":[["951900596281cbd6"]]},{"id":"497318cfe96aa595","type":"webhook in","z":"833497f2fae0aaf3","name":"","url":"/wait","method":"post","x":180,"y":340,"wires":[["5c3a304744139c0a"]]},{"id":"5c3a304744139c0a","type":"say","z":"833497f2fae0aaf3","name":"","text":"holding","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":390,"y":340,"wires":[["fa1c466bbeb88abc"]]},{"id":"fa1c466bbeb88abc","type":"webhook out","z":"833497f2fae0aaf3","name":"","x":750,"y":340,"wires":[]},{"id":"e641ca6faadeb0b3","type":"lcc","z":"833497f2fae0aaf3","name":"","server":"1560464fc4351e6a","callSid":"callsid","callSidType":"flow","action":"unhold_conf","text":"","vendor":"default","lang":"default","voice":"default","callHook":"","callHookType":"str","waitHook":"/wait","waitHookType":"str","x":470,"y":500,"wires":[["87c53f537d99b411"]]},{"id":"db09eb0f0d76eb8e","type":"inject","z":"833497f2fae0aaf3","name":"Unhold Last Caller","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":500,"wires":[["e641ca6faadeb0b3"]]},{"id":"87c53f537d99b411","type":"debug","z":"833497f2fae0aaf3","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":460,"wires":[]},{"id":"1560464fc4351e6a","type":"jambonz_auth","name":"jambonz.me","urlType":"str","url":"http://jambonz.me/api"}]