examples/Create Call and Send DTMF.json
[{"id":"833497f2fae0aaf3","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"36235b0288c5eaf9","type":"create-call","z":"833497f2fae0aaf3","name":"","server":"a05757333290dd43","from":"12215551212","fromType":"str","to":"14155551000","toType":"str","dest":"phone","timeout":"","application":"2c4046ce-e600-4bc3-86fb-fa82105495e2","appName":"Ngrok","mode":"app","call_hook_url":"","call_hook_urlType":"str","call_hook_method":"GET","call_status_url":"","call_status_urlType":"str","call_status_method":"GET","vendor":null,"lang":"","voice":"","transcriptionvendor":"default","recognizerlang":"default","x":550,"y":300,"wires":[[]]},{"id":"5efd03b4b18f4193","type":"inject","z":"833497f2fae0aaf3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":300,"wires":[["36235b0288c5eaf9"]]},{"id":"76dfd7b70ec60274","type":"webhook in","z":"833497f2fae0aaf3","name":"","url":"/answer","method":"post","x":210,"y":180,"wires":[["ae0eb8c79b2c3253"]]},{"id":"c48cd8590c2d4bcd","type":"webhook out","z":"833497f2fae0aaf3","name":"","x":710,"y":180,"wires":[]},{"id":"ae0eb8c79b2c3253","type":"dtmf","z":"833497f2fae0aaf3","name":"","dtmf":"54321","duration":"500","x":390,"y":180,"wires":[["222f681d81ae99f5"]]},{"id":"222f681d81ae99f5","type":"pause","z":"833497f2fae0aaf3","name":"","len":"10","lenType":"num","x":550,"y":180,"wires":[["c48cd8590c2d4bcd"]]},{"id":"a05757333290dd43","type":"jambonz_auth","name":"XYZ","urlType":"https://api.jambonz.xyz","url":""}]