examples/gather.json
[{"id":"b7186bc3.26d27","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c7d76b4.98e518","type":"webhook in","z":"b7186bc3.26d27","name":"","url":"/dial-by-state","method":"post","x":190,"y":100,"wires":[["4fe7ff70.bb338"]]},{"id":"908c03f.89a528","type":"webhook out","z":"b7186bc3.26d27","name":"","x":1060,"y":80,"wires":[]},{"id":"4fe7ff70.bb338","type":"gather","z":"b7186bc3.26d27","name":"","actionhook":"/state-response","finishonkey":"","dtmfinput":0,"speechinput":1,"numdigits":"","timeout":"","prompttype":"say","playurl":"","playurlType":"str","text":"In order to route your call properly, please say the name of the US state you are calling from.","vendor":"default","lang":"default","voice":"default","recognizerlang":"en-US","recognizerhints":"hints","recognizerhintsType":"flow","x":430,"y":100,"wires":[["908c03f.89a528"]]},{"id":"2cb918e1.cb7428","type":"webhook in","z":"b7186bc3.26d27","name":"","url":"/state-response","method":"post","x":190,"y":180,"wires":[["a1e34024.e888d","5d39cdb2.553bcc"]]},{"id":"a1e34024.e888d","type":"debug","z":"b7186bc3.26d27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"call","targetType":"msg","x":360,"y":340,"wires":[]},{"id":"d427b2d2.c296f","type":"inject","z":"b7186bc3.26d27","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["b9566212.09551"]]},{"id":"b9566212.09551","type":"function","z":"b7186bc3.26d27","name":"initialize states","func":"const states = [\n    {\n        \"name\": \"Alabama\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Alaska\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"American Samoa\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Arizona\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Arkansas\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"California\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Colorado\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Connecticut\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Delaware\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"District Of Columbia\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Federated States Of Micronesia\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Florida\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Georgia\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Guam\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Hawaii\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Idaho\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Illinois\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Indiana\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Iowa\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Kansas\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Kentucky\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Louisiana\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Maine\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Marshall Islands\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Maryland\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Massachusetts\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Michigan\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Minnesota\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Mississippi\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Missouri\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Montana\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Nebraska\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Nevada\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"New Hampshire\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"New Jersey\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"New Mexico\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"New York\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"North Carolina\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"North Dakota\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Northern Mariana Islands\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Ohio\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Oklahoma\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Oregon\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Palau\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Pennsylvania\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Puerto Rico\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Rhode Island\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"South Carolina\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"South Dakota\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Tennessee\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Texas\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Utah\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Vermont\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Virgin Islands\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Virginia\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Washington\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"West Virginia\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Wisconsin\",\n        \"phone\": \"daveh@jambonz.us\"\n    },\n    {\n        \"name\": \"Wyoming\",\n        \"phone\": \"daveh@jambonz.us\"\n    }\n];\nconst names = states.map((st) => st.name);\nconst hints = names.join(',');\n\nflow.set('hints', hints);\nflow.set('states', states);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[[]]},{"id":"5d39cdb2.553bcc","type":"function","z":"b7186bc3.26d27","name":"parse state requested","func":"msg.state = null;\nif (Array.isArray(msg.call.speech.alternatives)) {\n    const alt = msg.call.speech.alternatives;\n    if (alt.length > 0) {\n        const confidence = alt[0].confidence;\n        const transcript = alt[0].transcript;\n        \n        // parse the name\n        const states = flow.get('states');\n        const selected = states.find((st) => transcript.includes(st.name));\n        if (selected && confidence > 0.5) {\n            msg.state = selected.name;\n            msg.phone = selected.phone;\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["82d3a2c9.e4184"]]},{"id":"82d3a2c9.e4184","type":"switch","z":"b7186bc3.26d27","name":"","property":"state","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":220,"wires":[["747ae780.f7638"],["805c3325.97b388"]]},{"id":"805c3325.97b388","type":"say","z":"b7186bc3.26d27","name":"","text":"Please hold while we connect you to our call center in ${msg.state}","early":false,"loop":1,"vendor":"default","lang":"default","voice":"default","x":960,"y":280,"wires":[["66923c8c.9393fc"]]},{"id":"66923c8c.9393fc","type":"dial","z":"b7186bc3.26d27","name":"","targets":[{"type":"user","varType":"msg","dest":"phone"}],"headers":[],"actionhook":"","actionhookType":"str","answeronbridge":false,"callerid":"from","calleridType":"msg","confirmhook":"","confirmhookType":"str","dialmusic":"","dialmusicType":"str","dtmfcapture":"","dtmfcaptureType":"str","dtmfhook":"","dtmfhookType":"str","timelimit":"","timeout":"","listenurl":"","listenurlType":"str","transcribeurl":"","transcribeurlType":"str","interim":false,"transcribelang":"en-US","x":1120,"y":260,"wires":[["908c03f.89a528"]]},{"id":"747ae780.f7638","type":"say","z":"b7186bc3.26d27","name":"","early":false,"loop":1,"vendor":"default","lang":"default","voice":"default","x":930,"y":180,"wires":[["4fe7ff70.bb338"]]}]
