examples/Get Log Data.json
[{"id":"833497f2fae0aaf3","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"dff6b5aa87172311","type":"get_alerts","z":"833497f2fae0aaf3","name":"","server":"a05757333290dd43","page":1,"pageType":"num","count":25,"countType":"num","days":7,"x":560,"y":400,"wires":[["3fd80d23e0939b1b"]]},{"id":"9bee4a0f12053daf","type":"get_calls","z":"833497f2fae0aaf3","name":"","server":"a05757333290dd43","x":540,"y":540,"wires":[["9364d4aa1f24cacf"]]},{"id":"04d12287556dd92b","type":"get_recent_calls","z":"833497f2fae0aaf3","name":"","server":"a05757333290dd43","page":1,"pageType":"num","count":25,"countType":"num","days":7,"x":550,"y":680,"wires":[["dea539b390dccc09"]]},{"id":"298185c479604ced","type":"inject","z":"833497f2fae0aaf3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":400,"wires":[["dff6b5aa87172311"]]},{"id":"c78fc2cb3536822d","type":"inject","z":"833497f2fae0aaf3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":540,"wires":[["9bee4a0f12053daf"]]},{"id":"3fd80d23e0939b1b","type":"debug","z":"833497f2fae0aaf3","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":400,"wires":[]},{"id":"9364d4aa1f24cacf","type":"debug","z":"833497f2fae0aaf3","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":540,"wires":[]},{"id":"eb201e6218cbecc8","type":"inject","z":"833497f2fae0aaf3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":680,"wires":[["04d12287556dd92b"]]},{"id":"dea539b390dccc09","type":"debug","z":"833497f2fae0aaf3","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":680,"wires":[]},{"id":"a05757333290dd43","type":"jambonz_auth","name":"XYZ","urlType":"https://api.jambonz.xyz","url":""}]