examples/Leave Queue.json
[{"id":"c6687cbd705a9ee6","type":"tab","label":"Flow 2","disabled":true,"info":"","env":[]},{"id":"80dda8e1dbae8f9e","type":"webhook out","z":"c6687cbd705a9ee6","name":"","x":830,"y":140,"wires":[]},{"id":"966a8333cc2df6a0","type":"say","z":"c6687cbd705a9ee6","name":"","text":"Hello, your call is being placed into a queue.","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":330,"y":140,"wires":[["b4bf2e128be393a1"]]},{"id":"b4bf2e128be393a1","type":"enqueue","z":"c6687cbd705a9ee6","name":"","queue":"testqueue","queueType":"str","actionHook":"","actionHookType":"str","waitHook":"/wait","waitHookType":"str","x":500,"y":140,"wires":[["1e39f1f207781fe1"]]},{"id":"6f7506f616e2b35e","type":"webhook in","z":"c6687cbd705a9ee6","name":"","url":"/wait","method":"post","x":100,"y":220,"wires":[["87b91f9decbdee15"]]},{"id":"df44bbb04ed38a25","type":"webhook out","z":"c6687cbd705a9ee6","name":"","x":830,"y":280,"wires":[]},{"id":"c35c9bce3622a919","type":"say","z":"c6687cbd705a9ee6","name":"","text":"waiting","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":490,"y":200,"wires":[["6d811cb35b587220"]]},{"id":"6d811cb35b587220","type":"pause","z":"c6687cbd705a9ee6","name":"","len":"1","lenType":"num","x":630,"y":200,"wires":[["df44bbb04ed38a25"]]},{"id":"1e39f1f207781fe1","type":"say","z":"c6687cbd705a9ee6","name":"","text":"goodbye","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":650,"y":140,"wires":[["80dda8e1dbae8f9e"]]},{"id":"87b91f9decbdee15","type":"switch","z":"c6687cbd705a9ee6","name":"queue time","property":"call.queue_time","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":220,"wires":[["c35c9bce3622a919"],["bcf3d50b0f8bd8be"]]},{"id":"bcf3d50b0f8bd8be","type":"leave","z":"c6687cbd705a9ee6","name":"","x":510,"y":280,"wires":[["df44bbb04ed38a25"]]},{"id":"310bf836355458b4","type":"webhook in","z":"c6687cbd705a9ee6","name":"","url":"/answer","method":"post","x":110,"y":140,"wires":[["966a8333cc2df6a0"]]},{"id":"48c4c9fdeb6fc0e4","type":"comment","z":"c6687cbd705a9ee6","name":"Example","info":"Adds the caller to the queue.\nOnce they have been in the queue for more than 10seconds it returns a leave \nThis removes them from the queue and carries on to the 2nd say in the first path.\n","x":100,"y":80,"wires":[]}]