examples/messages.json
[{"id":"833497f2fae0aaf3","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"ee50078e5a687978","type":"webhook in","z":"833497f2fae0aaf3","name":"","url":"/answer","method":"post","x":550,"y":120,"wires":[["90c30a11ab4d39b3"]]},{"id":"bda7be4b522c4ae8","type":"webhook out","z":"833497f2fae0aaf3","name":"","x":1230,"y":120,"wires":[]},{"id":"90c30a11ab4d39b3","type":"say","z":"833497f2fae0aaf3","name":"","text":"Hello, we're sending you a text message","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":710,"y":120,"wires":[["6cc233b06a1214ef"]]},{"id":"6cc233b06a1214ef","type":"message","z":"833497f2fae0aaf3","name":"","from":"call.to","fromType":"msg","to":"call.from","toType":"msg","text":"This is your message","textType":"str","provider":"","providerType":"str","x":960,"y":120,"wires":[["bda7be4b522c4ae8"]]},{"id":"e35b55ec875f4d0d","type":"create-sms","z":"833497f2fae0aaf3","name":"","server":"a05757333290dd43","from":"123456","fromType":"str","to":"payload.dest","toType":"msg","text":"payload.text","textType":"msg","provider":"","providerType":"str","x":830,"y":420,"wires":[["f437483aaf655888"]]},{"id":"ccf953b35e32c99d","type":"inject","z":"833497f2fae0aaf3","name":"Configure Message & Dest","props":[{"p":"payload.dest","v":"12125551212","vt":"str"},{"p":"payload.text","v":"Hello","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":420,"wires":[["e35b55ec875f4d0d"]]},{"id":"f437483aaf655888","type":"debug","z":"833497f2fae0aaf3","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":420,"wires":[]},{"id":"a05757333290dd43","type":"jambonz_auth","name":"XYZ","urlType":"https://api.jambonz.xyz","url":""}]