examples/Simple IVR.json
[{"id":"c6687cbd705a9ee6","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"80dda8e1dbae8f9e","type":"webhook out","z":"c6687cbd705a9ee6","name":"","x":1010,"y":140,"wires":[]},{"id":"ae992c7104760820","type":"webhook in","z":"c6687cbd705a9ee6","name":"","url":"/answer","method":"post","x":170,"y":140,"wires":[["966a8333cc2df6a0"]]},{"id":"a35eedde1b318275","type":"gather","z":"c6687cbd705a9ee6","name":"","actionhook":"/input1","finishonkey":"","dtmfinput":true,"speechinput":false,"numdigits":"1","timeout":"","prompttype":"say","playurl":"","playurlType":"str","playLoop":"","text":"Please press 1 for music, 2 to be transferred or 3 to end the call","vendor":"default","lang":"default","voice":"default","xvoice":"default","xlang":"default","transcriptionvendor":"default","recognizerlang":"default","recognizeraltlang":"","recognizeraltlangType":"","interim":false,"profanityfilter":false,"transcriptionhints":"","transcriptionhintsType":"str","separaterecog":false,"useenhanced":false,"words":false,"punctuation":false,"diarization":false,"diarizationmin":2,"diarizationminType":"num","diarizationmax":6,"diarizationmaxType":"num","interactiontype":"voice_command","naics":0,"naicsType":"num","identifychannels":false,"speakerlabel":false,"vocabularyname":"","vocabularynameType":"str","vocabularyfiltername":"","vocabularyfilternameType":"str","x":750,"y":140,"wires":[["80dda8e1dbae8f9e"]]},{"id":"586065b4be59223a","type":"dial","z":"c6687cbd705a9ee6","name":"","targets":[{"type":"phone","varType":"str","dest":"12125551212"}],"headers":[],"actionhook":"","actionhookType":"str","answeronbridge":false,"callerid":"call.to","calleridType":"msg","confirmhook":"","confirmhookType":"str","dialmusic":"","dialmusicType":"str","dtmfcapture":"","dtmfcaptureType":"str","dtmfhook":"","dtmfhookType":"str","timelimit":"","timeout":"","listenurl":"","listenurlType":"str","transcriptionhook":"","transcriptionhookType":"str","transcriptionvendor":"default","recognizerlang":"default","recognizeraltlang":"","recognizeraltlangType":"","interim":false,"profanityfilter":false,"transcriptionhints":"","transcriptionhintsType":"str","separaterecog":false,"useenhanced":false,"words":false,"punctuation":false,"diarization":false,"diarizationmin":2,"diarizationminType":"num","diarizationmax":6,"diarizationmaxType":"num","interactiontype":"unspecified","naics":0,"naicsType":"num","identifychannels":false,"speakerlabel":false,"vocabularyname":"","vocabularynameType":"str","vocabularyfiltername":"","vocabularyfilternameType":"str","x":830,"y":420,"wires":[["b311c4697bf682ef"]]},{"id":"979c327a6e5d596b","type":"webhook in","z":"c6687cbd705a9ee6","name":"","url":"/input1","method":"post","x":170,"y":300,"wires":[["ef2db044345c7040"]]},{"id":"b311c4697bf682ef","type":"webhook out","z":"c6687cbd705a9ee6","name":"","x":1150,"y":380,"wires":[]},{"id":"e973d21a3359edb9","type":"play","z":"c6687cbd705a9ee6","name":"","url":"http://example.com/opus1.mp3","urlType":"str","early":false,"loop":1,"x":830,"y":380,"wires":[["b311c4697bf682ef"]]},{"id":"45f130f460fd71e6","type":"hangup","z":"c6687cbd705a9ee6","name":"","x":900,"y":480,"wires":[["b311c4697bf682ef"]]},{"id":"453c257866b37a81","type":"say","z":"c6687cbd705a9ee6","name":"","text":"Goodbye","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":770,"y":480,"wires":[["45f130f460fd71e6"]]},{"id":"966a8333cc2df6a0","type":"say","z":"c6687cbd705a9ee6","name":"","text":"Hello","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":390,"y":140,"wires":[["a35eedde1b318275"]]},{"id":"ef2db044345c7040","type":"switch","z":"c6687cbd705a9ee6","name":"Reason","property":"call.reason","propertyType":"msg","rules":[{"t":"eq","v":"timeout","vt":"str"},{"t":"eq","v":"dtmfDetected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":300,"wires":[["a35eedde1b318275"],["46ac3bf482262e32"],["a35eedde1b318275"]]},{"id":"46ac3bf482262e32","type":"switch","z":"c6687cbd705a9ee6","name":"","property":"call.digits","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":400,"wires":[["e973d21a3359edb9"],["586065b4be59223a"],["453c257866b37a81"],["a35eedde1b318275"]]},{"id":"f6febe414ac1a88c","type":"comment","z":"c6687cbd705a9ee6","name":"Initial Greeting","info":"","x":430,"y":80,"wires":[]},{"id":"67e593ee1a7c00eb","type":"comment","z":"c6687cbd705a9ee6","name":"Options","info":"","x":770,"y":80,"wires":[]},{"id":"f1a9dcc4f6c439ba","type":"comment","z":"c6687cbd705a9ee6","name":"Check for input","info":"If no digits detected or  timeout then go back to options","x":360,"y":260,"wires":[]},{"id":"eb80e0ecb5962cd5","type":"comment","z":"c6687cbd705a9ee6","name":"Validate input","info":"If no valid option then go back to menu","x":530,"y":340,"wires":[]},{"id":"42b9baee457219ce","type":"comment","z":"c6687cbd705a9ee6","name":"Call Routes","info":"","x":850,"y":320,"wires":[]}]