examples/SIP Responses.json
[{"id":"833497f2fae0aaf3","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"06b840f4d9c7bc92","type":"webhook out","z":"833497f2fae0aaf3","name":"","x":1090,"y":160,"wires":[]},{"id":"95a34bf4eade79fa","type":"say","z":"833497f2fae0aaf3","name":"","text":"Hello","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":290,"y":160,"wires":[["059e8ea21e1b5068"]]},{"id":"42d3a403aab28f6f","type":"sip:request","z":"833497f2fae0aaf3","name":"","method":"INFO","headers":"","headersType":"json","body":"Info Test","bodyType":"str","actionHook":"","actionHookType":"str","x":590,"y":160,"wires":[["f9eed73ec4a8d581"]]},{"id":"059e8ea21e1b5068","type":"pause","z":"833497f2fae0aaf3","name":"","len":"3","lenType":"num","x":430,"y":160,"wires":[["42d3a403aab28f6f"]]},{"id":"006adb53573de69d","type":"webhook in","z":"833497f2fae0aaf3","name":"","url":"/answer","method":"post","x":70,"y":160,"wires":[["d3d42b20ab934be9"]]},{"id":"023df5204617e23d","type":"pause","z":"833497f2fae0aaf3","name":"","len":"5","lenType":"num","x":710,"y":340,"wires":[["06b840f4d9c7bc92"]]},{"id":"becf20314564e27d","type":"sip:request","z":"833497f2fae0aaf3","name":"","method":"NOTIFY","headers":"","headersType":"json","body":"Notify Test","bodyType":"str","actionHook":"","actionHookType":"str","x":530,"y":260,"wires":[["89225fa26b74de8f"]]},{"id":"f9eed73ec4a8d581","type":"pause","z":"833497f2fae0aaf3","name":"","len":"3","lenType":"num","x":390,"y":260,"wires":[["becf20314564e27d"]]},{"id":"28d18361304eb1ec","type":"sip:request","z":"833497f2fae0aaf3","name":"","method":"MESSAGE","headers":"","headersType":"json","body":"Message Test","bodyType":"str","actionHook":"","actionHookType":"str","x":530,"y":340,"wires":[["023df5204617e23d"]]},{"id":"89225fa26b74de8f","type":"pause","z":"833497f2fae0aaf3","name":"","len":"3","lenType":"num","x":390,"y":340,"wires":[["28d18361304eb1ec"]]},{"id":"d3d42b20ab934be9","type":"switch","z":"833497f2fae0aaf3","name":"","property":"call.to","propertyType":"msg","rules":[{"t":"eq","v":"123","vt":"str"},{"t":"eq","v":"404","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":80,"wires":[["90c1e53d708a5be3"],["e30b02f408a87701"],["95a34bf4eade79fa"]]},{"id":"90c1e53d708a5be3","type":"sip:refer","z":"833497f2fae0aaf3","name":"","referTo":"456","referToType":"str","referredBy":"","referredByType":"str","headers":"","headersType":"json","eventHook":"","eventHookType":"str","actionHook":"","actionHookType":"str","x":400,"y":60,"wires":[["06b840f4d9c7bc92"]]},{"id":"e30b02f408a87701","type":"sip:decline","z":"833497f2fae0aaf3","name":"","status":"404","statusType":"num","reason":"","reasonType":"str","x":410,"y":100,"wires":[["06b840f4d9c7bc92"]]}]